<ion-view title="Transfer Funds">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content> 
      <div class="list">
         <label class="item item-input">
          <span class="input-label">Checking Account</span>
           <span class="input-label">1234567890</span>
        </label>
        <label class="item item-input">        
		<span class="input-label">Savings Account</span>
           <span class="input-label">9876543210</span>
        </label>
		<label class="item item-input">
          <span class="input-label">Savings Account</span>
          <input type="text">
        </label>       
        <div>
          <button class="button button-block button-positive" ng-click="TransferCheckingToSavings()">Transfer Funds</button>
        </div>        
      </div>
    </form>
  </ion-content>
  
</ion-view>