<ion-view title="Checking Account Balance">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>    
      <ion-list>
     <label class="item item-input">
          <span class="input-label">Checking Account Balance</span>
         <span class="input-label">10000</span>
        </label>
    </ion-list>    
    
</div>
</ion-content>

  </ion-view>

