<ion-view title="Fund Transfer">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content>   
 <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Select from Account Type
    </div>
    <select  ng-model="blisterPackTemplateSelectedFromFundTransfer" ng-change="changedValueFromFundTransfer(blisterPackTemplateSelectedFromFundTransfer)" 
     data-ng-options="typeofAccountFromFundTransfer as typeofAccountFromFundTransfer.name for typeofAccountFromFundTransfer in typeofAccountFromFundTransfer">
    <option value="">Select Account</option>
</select>
  </label>
  
  <label class="item item-input item-select">
    <div class="input-label">
      Select to Account Type
    </div>
    <select  ng-model="blisterPackTemplateSelectedToFundTransfer" ng-change="changedValueToFundTransfer(blisterPackTemplateSelectedToFundTransfer)" 
     data-ng-options="typeofAccountToFundTransfer as typeofAccountToFundTransfer.name for typeofAccountToFundTransfer in typeofAccountToFundTransfer">
    <option value="">Select Account</option>
</select>
  </label>
  <label class="item">
          <button class="button button-block button-positive" ng-click="clickForFundTransfer()">OK</button>
        </label>
        </div></div>       
  </ion-content>
 
</ion-view>
