<ion-view title="Fund Transfer to Third Party">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content>   
 <div class="list">
         <label class="item item-input">
          <span class="input-label">Checking Account Number</span>
          <span class="input-label">1234567890</span>
        </label>
        <label class="item item-input">
          <span class="input-label">Third Party Name/Account Number</span>
          <input type="text" ng-model="nameoraccountnumber">
        </label>
        <div>
          <button class="button button-block button-positive" ng-click="TransferToThirdParty()">Transfer</button>
        </div>
       
      </div>
  </ion-content>
 
</ion-view>
