<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content>  
     <div class="list card">

     
  <a href="#/app/AccountSummary" class="item item-icon-left">
    <i class="icon ion-document-text"></i>
     Account Summary
  </a>
  <a href="#/app/ShowAccountBalance" class="item item-icon-left">
    <i class="icon ion-ios7-information"></i>
   Account Balance
  </a>
  <a href="#/app/FundTransfer" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Transfer Funds
  </a>
   <a href="#/app/UtilityBills" class="item item-icon-left">
    <i class="icon ion-cash"></i>
     Utility Bills
  </a>


   <a href="#/app/DepositChequeowDepo" class="item item-icon-left">
    <i class="icon ion-ios7-briefcase"></i>
    Deposit Cheque
  </a> 

  <a href="#/app/NearestAtm" class="item item-icon-left">
    <i class="icon ion-android-location"></i>
   Nearest Atm
  </a>
  <a href="#/app/login" class="item item-icon-left">
    <i class="icon ion-log-out"></i>
    Log Out
  </a>
    

</div>  </ion-content>

</ion-view>
