<div class="modal">
<ion-view title="Login" hide-back-button="true">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <form ng-submit="doLogin()">
      <div class="list">
         <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="password">
        </label>
        <div>
          <button class="button button-block button-positive" type="submit">Login</button>
        </div>
        <div style="text-align: center">
          Or <a href="/#/signup">Create an account</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>