<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
     
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Select</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
         <ion-item nav-clear menu-close href="#/app/Home">
          Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/AccountSummary">
           Account Summary
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/ShowAccountBalance">
           Account Balance
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/FundTransfer">
          Transfer Funds
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/UtilityBills">
           Utility Bills
        </ion-item>

         <ion-item nav-clear menu-close href="#/app/DepositCheque">
         Check Deposits
        </ion-item> 
         <ion-item nav-clear menu-close href="#/app/NearestAtm">
           Nearest Atm
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/login">
          Log Out
        </ion-item>
       
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
