<ion-view title="Recurring Deposits">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 <ion-content> 
      <div class="list">
         <label class="item item-input">
          <span class="input-label">Account Number</span>
           <span class="input-label">9876543210</span>
           <span class="input-label">296400.00</span>
          
        </label>      
	   
              
      </div>
    </form>
  </ion-content>
  
</ion-view>