<ion-view title="Savings Account Summary">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>    
      <ion-list>
      <ion-item ng-repeat="task in values1">
        {{task.title}}
      </ion-item>
    </ion-list>
    
  </ion-content></ion-view>

