<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <body ng-app="starter">
  <ion-nav-bar type="bar-positive" 
             animation="nav-title-slide-ios7" 
             back-button-type="button-icon button-clear" 
             ></ion-nav-bar>
    <ion-nav-view></ion-nav-view>
	
<div  ng-controller="VoiceInputCtrl">
<div class="tabs tabs-icon-top tabs-positive"  ng-show="voiceInputVisible()">
    <button class="button button-full button-positive icon ion-android-microphone" ng-class=""ng-click="initiateVoiceRecognition()">
  </button>
</div>
</div>
  </ion-content>
  </ion-tab>
  </body>
</html>
