/* Empty. Add your own CSS if you like */
.bar.bar-stable{
border-color: #b2b2b2;
background-color: #4a87ee;
background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
color: #444;
}

